<header class="text-white py-4">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo">
        <img src="assets/angular.png" alt="IKOMI Perú" class="">
      </div>
      <nav class="d-flex">
        <a routerLink="/inicio" class="nav-link text-white" [routerLinkActive]="['active']">
          <i class="fa fa-home"></i> Inicio
        </a>
        <a routerLink="/nosotros" class="nav-link text-white" [routerLinkActive]="['active']">
          <i class="fa fa-info-circle"></i> Nosotros
        </a>
        <a routerLink="/servicios" class="nav-link text-white" [routerLinkActive]="['active']">
          <i class="fa fa-cog"></i> Servicios
        </a>
        <a routerLink="/producto" class="nav-link text-white" [routerLinkActive]="['active']">
          <i class="fa fa-box"></i> Producto
        </a>
        <a routerLink="/marcas" class="nav-link text-white" [routerLinkActive]="['active']">
          <i class="fa fa-trademark"></i> Marcas
        </a>
        <a routerLink="/contactenos" class="nav-link text-white" [routerLinkActive]="['active']">
          <i class="fa fa-envelope"></i> Contáctenos
        </a>
      </nav>
    </div>
  </header>